# Q1.

In [13]:
import numpy as np

In [14]:
temperature=np.array([32.5,34.2,36.8,29.3,31.0,38.7,23.1,18.5,22.8,37.2,4.0,-4,2.0,-3,0])

In [15]:
hot_days=np.extract(temperature>35,temperature)
cold_days=np.extract(temperature<5,temperature)
print("hot days:",hot_days)
print("cold days:",cold_days)

hot days: [36.8 38.7 37.2]
cold days: [ 4. -4.  2. -3.  0.]

# Q2.

In [23]:
monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])

# Split into quarters and print
quarter_sales = np.split(monthly_sales, 4)
for i, quarter in enumerate(quarter_sales):
    print(f"\nQuarter {i+1} Sales:")
    for sales in quarter:
        print(sales)

Quarter 1 Sales:
120
135
148

Quarter 2 Sales:
165
180
155

Quarter 3 Sales:
168
190
205

Quarter 4 Sales:
198
210
225

# Q3.

In [16]:

customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])
last_purchase_days_ago = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])

# Define the criteria for splitting
recent_purchase_mask = last_purchase_days_ago <= 30
no_recent_purchase_mask = last_purchase_days_ago > 30

# Split the customer data into two groups
recent_purchasers = customer_ids[recent_purchase_mask]
no_recent_purchasers = customer_ids[no_recent_purchase_mask]

# Print the results
print("Customers who made a purchase in the last 30 days:", recent_purchasers)
print("Customers who haven't made a purchase in the last 30 days:", no_recent_purchasers)

Customers who made a purchase in the last 30 days: [101 102 103 104 105]
Customers who haven't made a purchase in the last 30 days: [106 107 108 109 110]

# Q4.

In [17]:
full_time_employees = np.array([
[101, 'John Doe', 'Full-Time', 55000],
[102, 'Jane Smith', 'Full-Time', 60000],
[103, 'Mike Johnson', 'Full-Time', 52000]
])

part_time_employees = np.array([
[201, 'Alice Brown', 'Part-Time', 25000],
[202, 'Bob Wilson', 'Part-Time', 28000],
[203, 'Emily Davis', 'Part-Time', 22000]
])

In [20]:
result=np.concatenate((full_time_employees,part_time_employees),axis=0)

In [21]:
print(result)

[['101' 'John Doe' 'Full-Time' '55000']
 ['102' 'Jane Smith' 'Full-Time' '60000']
 ['103' 'Mike Johnson' 'Full-Time' '52000']
 ['201' 'Alice Brown' 'Part-Time' '25000']
 ['202' 'Bob Wilson' 'Part-Time' '28000']
 ['203' 'Emily Davis' 'Part-Time' '22000']]

# Q5. How to find the mean of every NumPy array in the given list?

In [24]:
list = [
np.array([3, 2, 8, 9]),
np.array([4, 12, 34, 25, 78]),
np.array([23, 12, 67])
]

In [25]:
means = [np.mean(arr) for arr in list]

# Print the results
for i, mean in enumerate(means):
    print(f"Mean of array {i+1}: {mean}")

Mean of array 1: 5.5
Mean of array 2: 30.6
Mean of array 3: 34.0

# Q6. Compute the median of the flattened NumPy array

In [26]:
x_odd = np.array([1, 2, 3, 4, 5, 6, 7])
median=np.median(x_odd)

In [27]:
print(median)

4.0

# Q7. Compute the standard deviation of the NumPy array

In [28]:
arr = [20, 2, 7, 1, 34]
deviation=np.std(arr)

In [29]:
print(deviation)

12.576167937809991